<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:image" content="https://res.cloudinary.com/djo1ucwnk/image/upload/v1599629398/sdcwmfpjera3mszxyt1s_lw4tza.png" />
    <meta property="og:description" content="Join me in my Web Development Journey! Trina Sustiguer 2020." />
    <meta property="og:url" content="https://matrinasustiguer.netlify.app" />
    <meta property="og:title" content="Web Developer Portfolio | Trina Sustiguer" />
    
    <title>Trina Sustiguer | Portfolio</title>

    <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@400;500;600&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
    <div class="nav-section">
        <div class="nav-left">
            <a href="#">
                <img class="landing-click" src="assets/media/projects.png"> 
            </a>
        </div>
        <div class="nav-right">
            <a href="#about" class="nav-clicks">About</a>
            <a href="#skills" class="nav-clicks">Skills</a>
            <a href="#projects" class="nav-clicks">Projects</a>
            <a href="#contact" class="nav-clicks">Contact</a>
        </div>
    </div>
    <div class="all-sections">
        <div class="landing-area" id="landing">
            <div class="main-cogs" id="cogs">
                <img class="gear cog1" src="assets/media/about.png">
                <img class="gear cog2" src="assets/media/skills.png">
                <img class="gear cog3" src="assets/media/projects.png">
                <img class="gear cog4" src="assets/media/contact.png">
            </div>
            <div class="main-landing">
                <div class="dev">
                    <div class="main-dev">
                        <img src="assets/media/dev.png">
                    </div>
                </div>
                <div class="stack">
                    <img src="assets/media/ful.png">
                    <img src="assets/media/stac.png">
                </div>
            </div>
        </div>
        <div class="about-section" id="about">
            <div class="box">
                <div class="blocks-1" data-aos="fade-up">
                    <img class="pic" src="assets/media/me.png">
                </div>
                <div data-aos="fade-down" class="content">
                    <h1 class="heading-1">About Me</h1>
                    <p>Hi! My name is Trina Sustiguer, a full stack web developer based in Metro Manila.</p>
                    <p>Currently, I'm learning and loving coding - a long time passion of mine! I love learning in its many forms and I'm always willing to continuously learn and enhance my current knowledge and skills. </p>
                    <p>I also would love to learn natural languages like 日本語 when not coding. Right now, I'm fluent in two and a beginner in another two. Maybe someday I'll be a certified coding polyglot, both in terms of natural and programming languages!</p>
                </div>
            </div>
        </div>
        <div class="skills-section" id="skills">
            <div class="box-c">
                <div data-aos="flip-right">
                    <h1 class="heading-2">Skills</h1>
                </div>
                <div data-aos="fade-up" class="griddy">
                    <img class="logos" src="assets/media/HyperT.png">
                    <img class="logos" src="assets/media/Casc.png">
                    <img class="logos" src="assets/media/Ja.png">
                    <img class="logos" src="assets/media/Boot.png">
                    <img class="logos" src="assets/media/P.png">
                    <img class="logos" src="assets/media/Lar.png">
                    <img class="logos" src="assets/media/MS.png">
                    <img class="logos" src="assets/media/He.png">
                    <img class="logos" src="assets/media/Sub.png">
                    <img class="logos" src="assets/media/Vis.png">
                    <img class="logos" src="assets/media/G.png">
                    <img class="logos" src="assets/media/Sa.png">
                </div>
            </div>
        </div>
        <div class="projects-section" id="projects">
            <div class="box-c">
                <div class="blocks" data-aos="zoom-in">
                    <h1 class="heading-3">Projects</h1>
                </div>
                <div class="selections">
                    <div data-aos="fade-right" class="projects">
                        <a class="brand" href="https://matrinasustiguer.gitlab.io/caps-one/" target="_blank">
                            <img class="project" src="assets/media/BC.png">
                        </a>
                        <div class="description">
                            <h2>Backyard Carnival</h2>
                            <p>
                                <a class="visit" href="https://matrinasustiguer.gitlab.io/caps-one/" target="_blank">View Live</a>
                                <a class="visit" href="https://gitlab.com/matrinasustiguer/caps-one" target="_blank">View Codes</a>
                            </p>
                            <p>A static website about a rental service provider of party equipments. Written in pure CSS3 and HTML5.</p>
                            <div class="tags">
                                <img class="tag" src="assets/media/HyperT.png">
                                <img class="tag" src="assets/media/Casc.png">
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-right" class="projects">
                        <a class="brand-2" href="http://safe-dusk-16845.herokuapp.com/" target="_blank">
                            <img class="project" src="assets/media/Presters.png">
                        </a>
                        <div class="description">
                            <h2>Prester's</h2>
                            <p>
                                <a class="visit" href="http://safe-dusk-16845.herokuapp.com/" target="_blank">View Live</a>
                                <a class="visit" href="https://gitlab.com/matrinasustiguer/capstone-2" target="_blank">View Codes</a>
                            </p>
                            <p>Dynamic website. A  visit booking system web app for a fictional pet rescue and shelter society. You may contact me for admin access.</p>
                            <div class="tags">
                                <img class="tag" src="assets/media/Lar.png">
                                <img class="tag" src="assets/media/MS.png">
                                <img class="tag" src="assets/media/Boot.png">
                                <img class="tag" src="assets/media/Ja.png">
                                <img class="tag" src="assets/media/P.png">
                                <img class="tag" src="assets/media/He.png">
                            </div>
                        </div>    
                    </div>
                    <div data-aos="fade-right" class="projects">
                        <a class="brand" href="https://rolandolagan.gitlab.io/team-trilogy-minijs/" target="_blank">
                            <img class="project" src="assets/media/Rent.jpg">
                        </a>
                        <div class="description">
                            <h2>Renta Bike</h2>
                            <p>
                                <a class="visit" href="https://rolandolagan.gitlab.io/team-trilogy-minijs/" target="_blank">View Live</a>
                                <a class="visit" href="https://gitlab.com/rolandolagan/team-trilogy-minijs" target="_blank">View Codes</a>
                            </p>
                            <p>A simple website app for a fictional bike rental service provider written with HTML, CSS, Bootstrap, and JavaScript. Made as a part of a 3-person team.</p>
                            <div class="tags">
                                <img class="tag" src="assets/media/Ja.png">
                                <img class="tag" src="assets/media/Boot.png">                                
                                <img class="tag" src="assets/media/HyperT.png">
                                <img class="tag" src="assets/media/Casc.png">
                            </div>
                        </div>    
                    </div>                    
                </div>
            </div>
        </div>
        <div class="contact-section" id="contact">
            <h1 class="heading-4">Contact</h1>
            <div class="contact-box">
                <div class="contact-left">
                    <p>Thanks for visiting!</p>
                    <p>You may contact me at <a class="email" href="mailto:sustiguermatrina@gmail.com">sustiguermatrina@gmail.com</a></p>
                </div>
                <div class="contact-right">
                    <p><a href="https://gitlab.com/matrinasustiguer/web-portfolio" target="_blank" class="contact-link">Portfolio Source Code <i class="fas fa-code icon"></i></a></p>
                    <p><a href="https://gitlab.com/matrinasustiguer" target="_blank" class="contact-link">Gitlab <i class="fab fa-gitlab icon"></i></a></p>
                    <p><a href="https://www.linkedin.com/in/ma-trina-sustiguer" target="_blank" class="contact-link">LinkedIn <i class="fab fa-linkedin favi icon"></i></a></p>
                </div>
            </div>
        </div>
    </div>
    <footer class="foot">
        <img class="footer-pic" src="assets/media/me.png">
        <p>Web Developer Portfolio by Trina Sustiguer 2020</p>
    </footer>

    <script src="assets/scripts/script.js" defer></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/ad65dcee03.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</body>
</html>