@import variables

@mixin background
    background-position: center
    background-size: 10% 101%
    width: 100vw

@mixin cogsHover
    animation-play-state: paused

@keyframes rotation
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

@keyframes reverseRotate
  0%
    transform: rotate(360deg)
  100%
    transform: rotate(0deg)

@keyframes shake 
    0% 
        transform: translate(1px, 1px) rotate(0deg)
    20% 
        transform: translate(3px, 2px) rotate(0deg)
    40% 
        transform: translate(1px, -1px) rotate(1deg)
    60% 
        transform: translate(-1px, 1px) rotate(-1deg)
    80% 
        transform: translate(1px, 2px) rotate(-1deg)
    100% 
        transform: translate(1px, 1px) rotate(0deg)

@keyframes shake-2
    0% 
        transform: translate(-1px, -2px) rotate(-1deg)
    20% 
        transform: translate(-3px, 0px) rotate(1deg)
    40% 
        transform: translate(-3px, 1px) rotate(-2deg)
    60% 
        transform: translate(3px, 1px) rotate(-1deg)
    80% 
        transform: translate(-1px, -1px) rotate(1deg)
    100% 
        transform: translate(-1px, -2px) rotate(-1deg)

@mixin break-max($max-width)
    @media (max-width: $max-width)
        @content

@mixin break-min($min-width)
    @media (min-width: $min-width)
        @content

@mixin height-min($min-height)
    @media (min-height: $min-height)
        @content

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Kufam', 'Raleway', 'Arial', sans-serif
    color: $primaryColor

html
    scroll-behavior: smooth
    -webkit-tap-highlight-color: $tap

.nav-section
    background: $secondaryColor
    position: fixed
    width: 100vw
    display: flex
    z-index: 1

    @include break-max($s)
        flex-direction: column
    

    .nav-left
        height: 5vh

        @include break-max($s)
            justify-content: center

        .landing-click
            height: 10rem
            position: fixed
            top: -5rem
            left: -5rem
            &:hover
                animation: rotation 4s infinite linear
    .nav-right
        display: flex
        align-items: center
        height: 10vh
        
        @include break-min($ms)
            margin-top: 0.5rem
            margin-left: auto
            margin-right: 5rem

        @include break-max($s)
            justify-content: center
        @include break-max($xs)
            margin-left: auto

        .nav-clicks
            text-decoration: none
            margin-left: 1.5rem
            padding: 13px 8px 13px 8px
            z-index: 1
           
            @include break-max($xs)
                margin-left: 0.5rem
                margin-right: 0.1em
                padding: 3px 2px 3px 2px
                letter-spacing: none
            
            &:hover
                transform: scale(1.1)
                background-image: url(../media/contact.png)
                background-size: 2.5rem
                background-repeat: no-repeat
                background-position-x: center
                font-weight: bold
                text-shadow: 1px 1px 4px $secondaryColor, 2px 1.5px 5px $highlight
                @include break-max($xs)
                    background-size: 1.6rem

.landing-area

    .main-cogs
        transition: 0.5s
        z-index: -1

        .gear
            position: fixed
            opacity: 10%

        .cog1
            top: 17em
            left: 15em
            height: 22em
            width: 22em
            animation: rotation 22.4s infinite linear
            z-index: 0
            &:hover
                @include cogsHover
            

        .cog2
            top: 10.1em
            left: 11.3em
            height: 10.5em
            width: 10.5em
            animation: reverseRotate 11.2s infinite linear
            &:hover
                @include cogsHover

        .cog3
            top: 32.4em
            left: 32.5em
            height: 13.5em
            width: 13.5em
            animation: reverseRotate 13.843s infinite linear
            &:hover
                @include cogsHover

        .cog4
            top: 20em
            left: 11em
            height: 4em
            width: 4em
            animation: rotation 2.6s infinite linear
            &:hover
                @include cogsHover

.main-landing
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
        
    .main-dev
        margin-bottom: 7em
        @include height-min($ipad)
            margin-top: 4em
            margin-bottom: 18em
        
        img
            width: 70vw
            margin: auto

.all-sections
    background: $secondaryColor

.box
    display: flex
    justify-content: space-evenly
    padding-top: 7.5rem
    margin-bottom: 3em

    @include height-min($ipad)
        padding-top: 9rem

    @include break-max($s)
        flex-direction: column

.blocks
    display: block
    margin: 1em auto 1em auto

.blocks-1
    @extend .blocks
    margin-bottom: 2em
    
.heading-1
    display: flex
    justify-content: center
    margin: 0.8em 0 1em 0

.heading-2
    color: $primaryColor
    text-align: center
    padding: 0.5em
    text-shadow: -2px 2px 20px $highlight, 2px -2px 20px $highlight

.heading-3
    color: $primaryColor
    padding: 0.2em 1.2em 0.2em 1.2em
    border-radius: 25px
    margin: 1em
    box-shadow: -2px 2px 4px $highlight, 3px -3px 4px $blendColor, 5px -6px 4px $highlight

.heading-4
    text-shadow: -2px 2px 25px $highlight, 2px -2px 25px $highlight
    margin-bottom: 1%
    margin-left: 2%
    
.pic
    border-radius: 50%
    border: 3px solid $highlight
    max-height: 10em
    max-width: 10em
    @include break-min($m)
        position: relative
        top: 6em
        left: 2em
        max-height: 18em
        max-width: 18em
    @include break-min($s)
        position: relative
        top: 2em
        left: 1em
        max-height: 15em
        max-width: 15em
    
.content
    width: 50vw
    margin: 2em auto auto auto
    box-shadow: -1.5px 1.5px 4px $highlight, -5px 5px 4px $highlight, -7px 7px 4px $blendColor, 1.5px -1.5px 4px $highlight, 5px -5px 4px $highlight, 7px -7px 4px $blendColor

    @include break-max($s)
        width: 90vw
    
    p
        margin: 1.3em 1em 1.2em 1em
        padding-right: 2em
        font-size: 1.2em
        line-height: 1.4em
        text-align: justify
        font-family: 'Raleway', sans-serif
        @include break-max($m)
            font-size: 1em
            padding-right: 0

.box-c
    @extend .box
    flex-direction: column



.griddy
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    width: 100vw
    padding: 1.5em

    @include break-max($s)
        width: 100vw
        justify-content: space-evenly

    .logos
        padding: 0.2em
        margin: 1.5em
        height: auto
        width: 8em
        box-shadow: -2px 2px 4px $highlight, 3px -3px 4px $blendColor, 5px -6px 4px $highlight
        @include break-max($s)
            width: 4em
            margin: 1em
        @include break-max($xs)
            margin: 0.5em

.selections
    display: block

    .projects
        display: flex
        align-items: center
        padding: 1em
        margin: 2em 3em 5em 3em
        box-shadow: -2px 2px 4px $highlight, 3px -3px 4px $highlight

        @include break-max($m)
            flex-direction: column

        .brand
            display: flex
            justify-content: center
            width: 50%
            animation: shake 5s infinite

            @include break-max($m)
                width: 80%
            
            @include break-min($m)
                margin: 3em 0.5em 2em 0.5em

        .brand-2
            @extend .brand
            animation: shake-2 5s infinite


        .project
            height: 11em
            width: auto
            border-radius: 10px
            box-shadow: -2px 2px 4px $secondaryColor, 2px -2px 4px $secondaryColor, 4px -4px 4px $highlight
            transition: 150ms
            @include break-max($s)
                height: 7em
                width: auto

            &:hover
                box-shadow: 2px -1.5px 4px $secondaryColor, 2px 1.5px 4px $secondaryColor, -2px 1.5px 4px $secondaryColor, -2px -1.5px 4px $secondaryColor, 2.5px -2px 4px $highlight, 2.5px 2px 4px $highlight, -2.5px 2px 4px $highlight, -2.5px -2px 4px $highlight

        
        .description
            line-height: 1.5em
            display: flex
            justify-content: center
            flex-direction: column
            width: 45%

            @include break-max($m)
                width: 90%
                margin-top: 3em

            h2
                text-shadow: -1px 1px 20px $highlight, 1px -1px 20px $highlight
                
            p
                margin: 1em 0 0.5em 0.3em
                line-height: 1.5em
                text-align: justify

            a
                text-decoration: none
                transition: 300ms
                font-size: 0.7em
                font-weight: 400
                margin-right: 1.5em
                padding: 0.5em
                border: 1px solid $primaryColor
                &:hover
                    box-shadow: -1px 1px 4px $highlight, 1px -1px 4px $highlight
                    border: 1px solid $highlight
                    color: $highlight

            .tags
                display: flex
                align-items: center
                justify-content: center
                flex-wrap: wrap
                background-color: $blendColor
                border-radius: 25px
                margin: 1em
                box-shadow: -2px 2px 4px $secondaryColor, 3px -3px 4px $highlight, 5px -6px 4px $secondaryColor

                .tag
                    padding: 0.1em
                    height: auto
                    width: 2.8em
                    margin: 0.6em 1em 0.6em 1em
                    box-shadow: -1px 1px 4px $secondaryColor, 2px -2px 4px $highlight, 4px -4px 4px $secondaryColor
                    @include break-max($s)
                        margin: 1em

.contact-section
    padding: 5%

    .contact-box
        display: flex
        justify-content: space-between
        
        @include break-max($s)
            flex-direction: column-reverse

        .contact-left
            position: relative
            z-index: 2
            margin: 1% 2% 2% 2%
            @include break-max($s)
                font-size: 0.8em

            p
                margin-top: 3%
                font-family: 'Raleway', sans-serif
            
            .email:hover
                text-decoration: none
                text-shadow: 2px -2px 10px $highlight
            
        .contact-right
            @extend .contact-left
            text-align: right

            @include break-min($m)
                font-size: 1.2em

            .icon
                text-shadow: 1.3px -1px 10px $highlight
                display: none

            .contact-link
                margin-top: 5%
                font-weight: bold
                font-size: 1.2em
                text-decoration: none
                &:hover .icon
                    display: inline

.foot
    background: $secondaryColor
    padding: 5em 0 0.5em 0
    display: flex
    justify-content: center
    align-items: center

    .footer-pic
        height: 3vh
        border-radius: 50%
        border: 1px solid $primaryColor
        margin-right: 1%
        

    p
        text-align: center
        font-family: 'Raleway', sans-serif
        @include break-max($s)
            font-size: 0.7em





