@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes reverseRotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(1px, 2px) rotate(-1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}
@keyframes shake-2 {
  0% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  40% {
    transform: translate(-3px, 1px) rotate(-2deg);
  }
  60% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kufam", "Raleway", "Arial", sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
}

.nav-section {
  background: black;
  position: fixed;
  width: 100vw;
  display: flex;
  z-index: 1;
}
@media (max-width: 600px) {
  .nav-section {
    flex-direction: column;
  }
}
.nav-section .nav-left {
  height: 5vh;
}
@media (max-width: 600px) {
  .nav-section .nav-left {
    justify-content: center;
  }
}
.nav-section .nav-left .landing-click {
  height: 10rem;
  position: fixed;
  top: -5rem;
  left: -5rem;
}
.nav-section .nav-left .landing-click:hover {
  animation: rotation 4s infinite linear;
}
.nav-section .nav-right {
  display: flex;
  align-items: center;
  height: 10vh;
}
@media (min-width: 601px) {
  .nav-section .nav-right {
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: 5rem;
  }
}
@media (max-width: 600px) {
  .nav-section .nav-right {
    justify-content: center;
  }
}
@media (max-width: 380px) {
  .nav-section .nav-right {
    margin-left: auto;
  }
}
.nav-section .nav-right .nav-clicks {
  text-decoration: none;
  margin-left: 1.5rem;
  padding: 13px 8px 13px 8px;
  z-index: 1;
}
@media (max-width: 380px) {
  .nav-section .nav-right .nav-clicks {
    margin-left: 0.5rem;
    margin-right: 0.1em;
    padding: 3px 2px 3px 2px;
    letter-spacing: none;
  }
}
.nav-section .nav-right .nav-clicks:hover {
  transform: scale(1.1);
  background-image: url(../media/contact.png);
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position-x: center;
  font-weight: bold;
  text-shadow: 1px 1px 4px black, 2px 1.5px 5px cyan;
}
@media (max-width: 380px) {
  .nav-section .nav-right .nav-clicks:hover {
    background-size: 1.6rem;
  }
}

.landing-area .main-cogs {
  transition: 0.5s;
  z-index: -1;
}
.landing-area .main-cogs .gear {
  position: fixed;
  opacity: 10%;
}
.landing-area .main-cogs .cog1 {
  top: 17em;
  left: 15em;
  height: 22em;
  width: 22em;
  animation: rotation 22.4s infinite linear;
  z-index: 0;
}
.landing-area .main-cogs .cog1:hover {
  animation-play-state: paused;
}
.landing-area .main-cogs .cog2 {
  top: 10.1em;
  left: 11.3em;
  height: 10.5em;
  width: 10.5em;
  animation: reverseRotate 11.2s infinite linear;
}
.landing-area .main-cogs .cog2:hover {
  animation-play-state: paused;
}
.landing-area .main-cogs .cog3 {
  top: 32.4em;
  left: 32.5em;
  height: 13.5em;
  width: 13.5em;
  animation: reverseRotate 13.843s infinite linear;
}
.landing-area .main-cogs .cog3:hover {
  animation-play-state: paused;
}
.landing-area .main-cogs .cog4 {
  top: 20em;
  left: 11em;
  height: 4em;
  width: 4em;
  animation: rotation 2.6s infinite linear;
}
.landing-area .main-cogs .cog4:hover {
  animation-play-state: paused;
}

.main-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main-landing .main-dev {
  margin-bottom: 7em;
}
@media (min-height: 1000px) {
  .main-landing .main-dev {
    margin-top: 4em;
    margin-bottom: 18em;
  }
}
.main-landing .main-dev img {
  width: 70vw;
  margin: auto;
}

.all-sections {
  background: black;
}

.box, .box-c {
  display: flex;
  justify-content: space-evenly;
  padding-top: 7.5rem;
  margin-bottom: 3em;
}
@media (min-height: 1000px) {
  .box, .box-c {
    padding-top: 9rem;
  }
}
@media (max-width: 600px) {
  .box, .box-c {
    flex-direction: column;
  }
}

.blocks, .blocks-1 {
  display: block;
  margin: 1em auto 1em auto;
}

.blocks-1 {
  margin-bottom: 2em;
}

.heading-1 {
  display: flex;
  justify-content: center;
  margin: 0.8em 0 1em 0;
}

.heading-2 {
  color: white;
  text-align: center;
  padding: 0.5em;
  text-shadow: -2px 2px 20px cyan, 2px -2px 20px cyan;
}

.heading-3 {
  color: white;
  padding: 0.2em 1.2em 0.2em 1.2em;
  border-radius: 25px;
  margin: 1em;
  box-shadow: -2px 2px 4px cyan, 3px -3px 4px gray, 5px -6px 4px cyan;
}

.heading-4 {
  text-shadow: -2px 2px 25px cyan, 2px -2px 25px cyan;
  margin-bottom: 1%;
  margin-left: 2%;
}

.pic {
  border-radius: 50%;
  border: 3px solid cyan;
  max-height: 10em;
  max-width: 10em;
}
@media (min-width: 1050px) {
  .pic {
    position: relative;
    top: 6em;
    left: 2em;
    max-height: 18em;
    max-width: 18em;
  }
}
@media (min-width: 600px) {
  .pic {
    position: relative;
    top: 2em;
    left: 1em;
    max-height: 15em;
    max-width: 15em;
  }
}

.content {
  width: 50vw;
  margin: 2em auto auto auto;
  box-shadow: -1.5px 1.5px 4px cyan, -5px 5px 4px cyan, -7px 7px 4px gray, 1.5px -1.5px 4px cyan, 5px -5px 4px cyan, 7px -7px 4px gray;
}
@media (max-width: 600px) {
  .content {
    width: 90vw;
  }
}
.content p {
  margin: 1.3em 1em 1.2em 1em;
  padding-right: 2em;
  font-size: 1.2em;
  line-height: 1.4em;
  text-align: justify;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 1050px) {
  .content p {
    font-size: 1em;
    padding-right: 0;
  }
}

.box-c {
  flex-direction: column;
}

.griddy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  padding: 1.5em;
}
@media (max-width: 600px) {
  .griddy {
    width: 100vw;
    justify-content: space-evenly;
  }
}
.griddy .logos {
  padding: 0.2em;
  margin: 1.5em;
  height: auto;
  width: 8em;
  box-shadow: -2px 2px 4px cyan, 3px -3px 4px gray, 5px -6px 4px cyan;
}
@media (max-width: 600px) {
  .griddy .logos {
    width: 4em;
    margin: 1em;
  }
}
@media (max-width: 380px) {
  .griddy .logos {
    margin: 0.5em;
  }
}

.selections {
  display: block;
}
.selections .projects {
  display: flex;
  align-items: center;
  padding: 1em;
  margin: 2em 3em 5em 3em;
  box-shadow: -2px 2px 4px cyan, 3px -3px 4px cyan;
}
@media (max-width: 1050px) {
  .selections .projects {
    flex-direction: column;
  }
}
.selections .projects .brand, .selections .projects .brand-2 {
  display: flex;
  justify-content: center;
  width: 50%;
  animation: shake 5s infinite;
}
@media (max-width: 1050px) {
  .selections .projects .brand, .selections .projects .brand-2 {
    width: 80%;
  }
}
@media (min-width: 1050px) {
  .selections .projects .brand, .selections .projects .brand-2 {
    margin: 3em 0.5em 2em 0.5em;
  }
}
.selections .projects .brand-2 {
  animation: shake-2 5s infinite;
}
.selections .projects .project {
  height: 11em;
  width: auto;
  border-radius: 10px;
  box-shadow: -2px 2px 4px black, 2px -2px 4px black, 4px -4px 4px cyan;
  transition: 150ms;
}
@media (max-width: 600px) {
  .selections .projects .project {
    height: 7em;
    width: auto;
  }
}
.selections .projects .project:hover {
  box-shadow: 2px -1.5px 4px black, 2px 1.5px 4px black, -2px 1.5px 4px black, -2px -1.5px 4px black, 2.5px -2px 4px cyan, 2.5px 2px 4px cyan, -2.5px 2px 4px cyan, -2.5px -2px 4px cyan;
}
.selections .projects .description {
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45%;
}
@media (max-width: 1050px) {
  .selections .projects .description {
    width: 90%;
    margin-top: 3em;
  }
}
.selections .projects .description h2 {
  text-shadow: -1px 1px 20px cyan, 1px -1px 20px cyan;
}
.selections .projects .description p {
  margin: 1em 0 0.5em 0.3em;
  line-height: 1.5em;
  text-align: justify;
}
.selections .projects .description a {
  text-decoration: none;
  transition: 300ms;
  font-size: 0.7em;
  font-weight: 400;
  margin-right: 1.5em;
  padding: 0.5em;
  border: 1px solid white;
}
.selections .projects .description a:hover {
  box-shadow: -1px 1px 4px cyan, 1px -1px 4px cyan;
  border: 1px solid cyan;
  color: cyan;
}
.selections .projects .description .tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: gray;
  border-radius: 25px;
  margin: 1em;
  box-shadow: -2px 2px 4px black, 3px -3px 4px cyan, 5px -6px 4px black;
}
.selections .projects .description .tags .tag {
  padding: 0.1em;
  height: auto;
  width: 2.8em;
  margin: 0.6em 1em 0.6em 1em;
  box-shadow: -1px 1px 4px black, 2px -2px 4px cyan, 4px -4px 4px black;
}
@media (max-width: 600px) {
  .selections .projects .description .tags .tag {
    margin: 1em;
  }
}

.contact-section {
  padding: 5%;
}
.contact-section .contact-box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .contact-section .contact-box {
    flex-direction: column-reverse;
  }
}
.contact-section .contact-box .contact-left, .contact-section .contact-box .contact-right {
  position: relative;
  z-index: 2;
  margin: 1% 2% 2% 2%;
}
@media (max-width: 600px) {
  .contact-section .contact-box .contact-left, .contact-section .contact-box .contact-right {
    font-size: 0.8em;
  }
}
.contact-section .contact-box .contact-left p, .contact-section .contact-box .contact-right p {
  margin-top: 3%;
  font-family: "Raleway", sans-serif;
}
.contact-section .contact-box .contact-left .email:hover, .contact-section .contact-box .contact-right .email:hover {
  text-decoration: none;
  text-shadow: 2px -2px 10px cyan;
}
.contact-section .contact-box .contact-right {
  text-align: right;
}
@media (min-width: 1050px) {
  .contact-section .contact-box .contact-right {
    font-size: 1.2em;
  }
}
.contact-section .contact-box .contact-right .icon {
  text-shadow: 1.3px -1px 10px cyan;
  display: none;
}
.contact-section .contact-box .contact-right .contact-link {
  margin-top: 5%;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
}
.contact-section .contact-box .contact-right .contact-link:hover .icon {
  display: inline;
}

.foot {
  background: black;
  padding: 5em 0 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot .footer-pic {
  height: 3vh;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 1%;
}
.foot p {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 600px) {
  .foot p {
    font-size: 0.7em;
  }
}

/*# sourceMappingURL=style.css.map */
